{% extends "base.html" %}

{% block main %}
<h1>タスク一覧ページ</h1>
<table>
  <tr>
    <th>タイトル</th>
    <th>内容</th>
    <th colspan="3"></th>
  </tr>
  {% for task in tasks %}
  <tr>
    <td>{{task.title}}</td>
    <td>{{task.content}}</td>
    <td><a href="{% url 'tasks:detail' task.id %}">詳細</a></td>
    <td><a href="{% url 'tasks:edit' task.id %}">編集</a></td>
    <td><a href="{% url 'tasks:delete' task.id %}">削除</a></td>
  </tr>
  {% endfor %}
</table>

<br>

<a href="{% url 'tasks:create' %}">新規作成</a>

{% endblock %}
